@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
h1,h2,h3{
    font-family: 'Roboto', sans-serif;
}
i{
 font-size:1.5rem;
}
li{
    text-align:center;
}
#contenedor-logo{
    width:100px;
}

@media screen and (max-width: 768px){
    .justify-sm-content-center{
        justify-content:center !important;
    }

}