@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
h1,h2,h3{
    font-family: 'Roboto', sans-serif;
}
.bg-gris{
    background-color:#C4C4C4;
}
.gris{
    color:#C4C4C4;
}
.form-select,.form-control{
    background-color: #e9ecef !important;
}
#contenedor-cards{
    max-height: 1000px;
}
