<div>
    <transition name="modal-animation">
        <div v-if="modalActive" class="modal">
          <transition name="modal-animation-inner">
            <div v-if="modalActive" class="modal-inner">
              <!-- Modal Content -->
              <slot></slot>
              <div class="d-flex justify-content-between w-75 m-auto">
                <button class="btn btn-success p-3" @click="add" type="button">Añadir</button>
                <button class="btn btn-danger  p-3" @click="close" type="button">Close</button>
              </div>
            </div>
          </transition>
        </div>
      </transition>
</div>